<form (ngSubmit)="onSubmit(mainForm)" #mainForm="ngForm">
  <div *ngFor="let control of controls | async">
    <mat-form-field appearance="outline" *ngIf="control.type === 'text'">
      <mat-label>{{ control.label }}</mat-label>
      <input
        [name]="control.field"
        matInput
        [required]="!!control.mandatory"
        ngModel
      />
    </mat-form-field>

    <mat-checkbox
      *ngIf="control.type === 'check'"
      [checked]="true"
      [name]="control.field"
      [required]="!!control.mandatory"
      ngModel
    >
      <mat-label>{{ control.label }}</mat-label>
    </mat-checkbox>
  </div>

  <button type="submit" mat-flat-button color="accent">Submit</button>
</form>
